{{ define "notify" }}
{{ template "header" .}}
<div id='main'>
{{ template "sidebar" .}}
<div id='content'>
    <div class='panel'>
      <div class='header'>
        <ul class='breadcrumb'>
          <li><a href='/'>主页</a><span class='divider'>/</span></li>
          <li class='active'>通知</li>
        </ul>
      </div>
      <div class='inner'>
        {{if .error}}
        <div class="alert alert-error">
          <strong>{{.error}}</strong>
        </div>
       {{end}}
        {{if .success}}
        <div class="alert alert-success">
          <strong>{{.success}}</strong>
        </div>
        {{end}}
        <a href="/"><span class="span-common">返回</span></a>
      </div>
    </div>
  </div>
  
</div>
{{ template "footer" .}}
{{ end }}


