{{ define "topic_list" }}
<div id="topic_list">
    <!-- <% for (var i = 0; i < topics.length; i++) { %>
    <%- include('./abstract.html', { topic: topics[i] }) %>
    <% } %> -->
   
    {{ template "abstract" .}} 
  
  </div>
  <div class='pagination' current_page='{{.current_page}}'>
    <ul>
      

      {{if eq .current_page 1}}
      <li class='disabled'><a>«</a></li>
      {{else}}
      <li><a href="{{.base_url}}1">«</a></li>
      {{end}}
  


      {{if gt .page_start  1}}
      <li><a>...</a></li>
      {{end}}
  

        {{range $i,$v:=.pagesArray}}
            {{if eq $i $.current_page}}
            <li class='disabled'><a>{{$v}}</a></li>
            {{else}}
            <li><a href='{{$.base_url}}+{{$v}}'>{{$v}}</a></li>
            {{end}}
        {{end}}
      {{ if lt .page_end  .pages}}
      <li><a>...</a></li>
      {{end}}
  
      {{if eq .current_page .pages}}
      <li class='disabled'><a>»</a></li>
      {{else}}
      <li><a href='{{.base_url}}+{{.pages}}'>»</a></li>
      {{end}}
    </ul>
  </div>
  <script>
    $(document).ready(function () {
      var $nav = $('.pagination');
      var current_page = $nav.attr('current_page');
      if (current_page) {
        $nav.find('li').each(function () {
          var $li = $(this);
          var $a = $li.find('a');
          if ($a.html() == current_page) {
            $li.addClass('active');
            $a.removeAttr('href');
          }
        });
      }
    });
  </script>
{{end}}
