{{define "topicIndex"}}

{{ template "header" .}}
<div id='main'>
    <div id='sidebar'>
        <div class='panel'>
          <div class='header'>
            <span class='col_fade'>作者</span>
          </div>
          <div class='inner'>
              <div class='user_card'>
                  <div>
                      <a class='user_avatar' href="/user/{{.topic.Author.Loginname}} ">
                        <img src="{{.topic.Author.Avatar}}" title="{{.topic.Author.Loginname}}"/>
                      </a>
                      <span class='user_name'><a class='dark' > {{.topic.Author.Loginname}}</a></span>    
                    <div class='board clearfix'>
                      <div class='floor'>
                          <span class='big'>积分:  {{.topic.Author.Score }} </span>
                      </div>
                    </div>
                    <div class="space clearfix"></div>
                    <span class="signature">
                        
                
                           “ 这家伙很懒，什么个性签名都没有留下。”
                       
                        
                    </span>
                  </div>
                </div>            
          </div>
        </div>
      
      
      
        <div class='panel'>
          <div class='header'>
            <span class='col_fade'>作者其它话题</span>
          </div>
          <div class='inner'>
            {{if .author_other_topics}}
            <ul class='unstyled'>
              {{range $i,$v:=.author_other_topics}}
              <li>
                <div><a class='dark topic_title' href="/topic/{{$v.Id.Hex}}" title="{{$v.Title}}">{{$v.Title}}</a>
                </div>
              </li>
              {{end}}              
            </ul>
            {{else}}
            <p>无</p>
            {{end}}
          </div>
        </div>
      
        <div class='panel'>
          <div class='header'>
            <span class='col_fade'>无人回复的话题</span>
          </div>
          <div class='inner'>
            {{if .no_reply_topics}}
            <ul class='unstyled'>
              {{range $i,$v:=.no_reply_topics}}
              <li>
                <div><a class='dark topic_title' href="/topic/{{$v.Id.Hex}}" title="{{$v.Title}}">{{$v.Title}}</a>
                </div>
              </li>
              {{end}}              
            </ul>
            {{else}}
            <p>无</p>
            {{end}}
          </div>
        </div>
    </div>
      
    <div id='content'>
        <div class='panel'>
            <div class='header topic_header'>
              <span class="topic_full_title">   
                {{.topic.Topic.Title}}
              </span>
              <div class="changes">
                <span>
                  发布于 {{.topic.Topic.Create_at}}
                </span>
                <span>
                  作者 <a href="/user/{{.topic.Author.Loginname}}">{{.topic.Author.Loginname}}</a>
                </span>
                <span>
                  {{.topic.Topic.Visit_count}} 次浏览
                </span>
                {{if .topic.Topic.Update_at}}
                  <span>
                    最后一次编辑是 {{.topic.Topic.Update_at}}
                  </span>
                {{end}}
                {{if .topic.Topic.Tab}}
                  <span> 来自 {{.topic.Topic.Tab}}</span>
                {{end}}  
                {{if .current_user}}
                  <input class="span-common <%= is_collect ? '' : 'span-success' %> pull-right collect_btn" type="submit" value="<%= is_collect ? '取消收藏' : '收藏' %>" action="<%= is_collect ? 'de_collect' : 'collect' %>">
                {{end}}
        
              </div>
              {{ if .user}}
              <div id="manage_topic">
                {{if 0}}
                  <a href='/topic/{{.topic._id}}/top' data-method="post">
                    {{if .topic.Topic.Top}}
                      <i class="fa fa-lg fa-star-o" title='取消置顶'></i>
                    {{else}}
                      <i class="fa fa-lg fa-star" title='置顶'></i>
                    {{end}}
                  </a>
        
        
                  <a href='/topic/{{.topic._id}}/good' data-method="post">
                    {{if .topic.Topic.Good}}
                      <i class="fa fa-lg fa-heart-o" title="取消精华"></i>
                    {{else}}
                      <i class="fa fa-lg fa-heart" title="加精华"></i>
                    {{end}}
                  </a>
        
                  <a href='/topic/{{.topic._id}}/lock' data-method="post">
                    {{if .topic.Topic.Lock}}
                      <i class="fa fa-lg fa-unlock" title='取消锁定'></i>
                    {{else}}
                      <i class="fa fa-lg fa-lock" title='锁定（不可再回复）'/></i>
                    {{end}}
                  </a>
        
        
                  <a href='/topic/{{.topic._id}}/edit'>
                    <i class="fa fa-lg fa-pencil-square-o" title='编辑'></i></a>
                  <a href='javascript:;'
                     data-id="{{.topic._id}}"
                     class='delete_topic_btn'>
                     <i class="fa fa-lg fa-trash" title='删除'></i></a>
                {{else}}
                  {{if eq .user.Id.Hex .topic.Topic.Author_id.Hex}}
                  <a href='/topic/{{.topic.Topic.Id.Hex}}/edit'>
                    <i class="fa fa-lg fa-pencil-square-o" title='编辑'></i></a>
                  <a href='javascript:;'
                     data-id="{{.topic.Topic.Id.Hex}}"
                     class='delete_topic_btn'>
                     <i class="fa fa-lg fa-trash" title='删除'></i></a>
                  {{end}}
                {{end}}
        
        
              </div>
              {{end}}
            </div>
            <div class='inner topic'>     
              <div class='topic_content'>
                {{.topic.Topic.Content}}
              </div>
            </div>
          </div>

          {{if .topic.Replies}}
            <div class='panel'>
              <div class='header'>
                <span class='col_fade'>{{.NoOfRepliy}} 回复</span>
              </div>
              {{ template "reply" .}}
              <!-- <% topic.replies.map((reply, index) => { %>
                <%- include('../reply/reply.html', { reply, index }) %>
              <%}) %> -->
            </div>
          {{end}}

          {{if .user}}
            <div class='panel'>
              <div class='header'>
                <span class='col_fade'>添加回复</span>
              </div>
              <div class='inner reply'>
                <form id='reply_form' action='/reply/{{.topic.Topic.Id.Hex}}' method='post'>
                  <input type='hidden' name='user_id'  value='{{.user.Id.Hex}}'/>
                  <div class='markdown_editor in_editor'>
                    <div class='markdown_in_editor'>
                      <textarea class='editor' name='r_content' rows='8'></textarea>
          
                      <div class='editor_buttons'>
                        <input class='span-primary submit_btn' type="submit" data-loading-text="回复中.." value="回复" >
                      </div>
                    </div>
          
                  </div>
          
                  <input type='hidden' name='_csrf' id="_csrf" value='<%= csrf %>'/>
                </form>
              </div>
            </div>
          {{end}}         
    </div>
    <div class="replies_history" style="display: none;">
      <div class="inner_content"></div>
      <div class="anchor"></div>
    </div>
    
    <!-- 预览模态对话框 -->
    <div class="modal fade" id="preview-modal">
      <div class="modal-body" style="max-height: initial;">
        <img src="" alt="点击内容或者外部自动关闭图片预览" id="preview-image">
      </div>
    </div>         
</div>
{{ template "footer" .}}
{{ end }}