
{{ define "main" }}
<!-- <% include ./sidebar.html %> -->
{{ template "common/sidebar" .}}
<div id="content">
    <div class="panel">
      <div class="header">
        
        {{ if eq .tab "all"}} 
        <a href="/?tab=all" class="topic-tab current-tab">全部</a>
        {{else}}
        <a href="/?tab=all" class="topic-tab">全部</a>
        {{end}}
        {{ if eq .tab "good"}}     
        <a href="/?tab=good" class="topic-tab current-tab">精华</a>
        {{else}}
        <a href="/?tab=good" class="topic-tab ">精华</a>
        {{end}}
        {{ if eq .tab "share"}}
        <a href="/?tab=share" class="topic-tab current-tab">分享</a>
        {{else}}
        <a href="/?tab=share" class="topic-tab ">分享</a>
        {{end}}
        {{ if eq .tab "ask"}}
        <a href="/?tab=ask" class="topic-tab current-tab">问答</a>
        {{else}}
        <a href="/?tab=ask" class="topic-tab ">问答</a>
        {{end}}
        {{ if eq .tab "job"}}
        <a href="/?tab=job" class="topic-tab current-tab">招聘</a>
        {{else}}
        <a href="/?tab=job" class="topic-tab ">招聘</a>
        {{end}}
      </div>
      {{ if .topics}}
      <div class="inner no-padding">
        <!-- <%- include('./topic/list.html', {
          topics: topics,
          pages: pages,
          current_page: current_page,
          base: '/'
        }) %> -->
        {{ template "topic_list" .}}
      </div>
      {{else}}
      <div class="inner">
        <p>无话题</p>
      </div>
      {{end}}
    </div>
</div>
{{end}}
